<div class="row"></div>

<!-- left column -->
<div class="col-md-5 border">

<!-- avatar  -->
<h2>dwight</h2>
  <div class="row">
      <div class="col-md-6" style="text-align: center">
      <img src="assets/dwight.png" class="img img-responsive">
      <a href=""><strong>View More Pics</strong></a>
      </div>

  <!-- location  -->
    <div class="col-md-6">
    <h4>I AM THE REAL DWIGHT SCHRUTE - THAT IS ALL!</h4>
    Male <br>
    34 years old<br>
    Scranton, Pennsylvania<br>
    United States <br><br>
    <img src="assets/online.png" class="img img-responsive"><br><br>
    Last login: <br>
    <%= Date.today.strftime("%m/%d/%Y")%>
    </div>
  </div>
<!-- contact details -->
  <div class="panel panel-primary actions">
    <div class="panel-heading"><strong>Contacting dwight</strong></div>
      <div class="panel-body">
        <div class="col-md-6">
          <ul>
          <strong>
             <li><img src="assets/send.png"><a href="">Send Message</a></li>
          </ul>
          <ul>
            <li><img src="assets/add.png"><a href="">Add to Friends</a></li>
          </ul>
          <ul>
            <li><img src="assets/im.png"><a href="">IM / Call</a></li>
          </ul>
          <ul>
            <li><img src="assets/group.png"><a href="">Add to Group</a></li>           
          </strong>

        </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li><img src="assets/forward.png"><a href=""><strong>Forward to a Friend</strong></a></li>
          </ul>
          <ul>
            <li><img src="assets/favorites.png"><a href=""><strong>Add to Favorites</strong></a></li>
          </ul>
          <ul>
            <li><img src="assets/block.png"><a href=""><strong>Block User</strong></a></li>
          </ul>
          <ul>
            <li><img src="assets/rank.png"><a href=""><strong>Rank User</strong></a></li>
        </ul>
        </div>
      </div>
  </div>
<!-- interests -->
  <div class="panel panel-primary interests">
    <div class="panel-heading"><strong>dwight's Interests</strong></div>
      <div class="panel-body">
        <div class="col-md-4 categories">
          <strong>
          <p>General</p>
          <p>Music</p>
          <p>Movies</p>
          <p>Television</p>
          <p>Books</p>            
          </strong>
        </div>
        <div class="col-md-8 answers">
          <p>stuff</p>
          <p>nickelback</p>
          <p>shawshank redemption</p>
          <p>girls</p>
          <p>catcher in the rye</p>
        </div>
      </div>
  </div>

<!-- star  sign -->
  <div class="panel panel-primary interests">
    <div class="panel-heading"><strong>dwight's Details</strong></div>
      <div class="panel-body">
        <div class="col-md-4 categories">
          <strong>
          <p>Status:</p>
          <p>Zodiac Sign:</p>      
          </strong>
        </div>
        <div class="col-md-8 answers">
          <p>stuff</p>
          <p><a href=""><strong style="color: blue">Aquarius</strong></a></p>
        </div>
      </div>
  </div>

</div> 

<!-- right column -->

<div class="col-md-7">
<h2></h2>

<!-- header  -->
<div class="jumbotron">
  <h2>dwight is in your extended network</h2>
</div>

<!-- blog -->
<div class="row tight">
  <p><strong>dwights Latest blog Entry</strong> [<a href="#">Subscribe to this Blog</a>]</p><br>
  <p>SCHRUTESPACE.com (<a href="">view more</a>)</p><br>
  <p>[<a href="">View All Blog Entries</a>]</p>
</div>

<!-- about  -->
<div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong>dwight's Blurbs</strong>
      </div>
      <div class="panel-body">
        <strong>About me:</strong>
        <p>I am assistant regional manager at Dunder-Mifflin Paper products in Scranton, PA. I am an avid gun and anime' collector. I run a working 40 acre beet farm with my cousin Mose.</p>
        <strong>Who I'd like to meet:</strong>
        <p>girls cool people guns and anime' fans steven seagal</p>
        </div>
    </div>
</div>

<!-- friends -->
<div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong>dwight's Friend Space</strong>
      </div>
      <div class="panel-body">
        <p><strong style="color: black">dwight has </strong><strong>82</strong><strong style="color: black"> friends.</strong></p>
        </div>
    </div>

    <div class="friends">
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
      <div class="col-md-3">
        <p>Tom</p>
        <img src="assets/tom.jpg" class="img img-responsive" width="150px">
      </div>
    </div>



</div>

</div> 
<a href="#" class="btn btn-primary">btn</a>