 @font-face {
        font-family: "BauerBodBolIta";
        src: url(/assets/BauerBodBolIta.otf) format("truetype");
    }
 @font-face {
        font-family: "BauerBodRom";
        src: url(/assets/BauerBodRom.otf) format("truetype");
    }